<div class="cadastro-container">
  <h2>{{ isEdicao ? 'Editar' : 'Cadastrar Novo' }} Super-Herói</h2>

  <form [formGroup]="heroiForm" (ngSubmit)="salvar()">
    <div class="form-group">
      <label>Nome:</label>
      <input type="text" formControlName="nome" placeholder="Ex: Bruce Wayne" required/>

      <div *ngIf="heroiForm.get('nome')?.invalid && heroiForm.get('nome')?.touched">
        <span class="error" *ngIf="heroiForm.hasError('required', 'nome')">
          O nome é obrigatório.
        </span>
        <span class="error" *ngIf="heroiForm.hasError('minlength', 'nome')">
          O nome deve ter pelo menos 2 caracteres.
        </span>
        <span class="error" *ngIf="heroiForm.hasError('maxlength', 'nome')">
          O nome deve ter no máximo 120 caracteres.
        </span>
      </div>
    </div>

    <div class="form-group">
      <label>Nome de Herói:</label>
      <input type="text" formControlName="nomeHeroi" placeholder="Ex: Batman" required/>

      <div *ngIf="heroiForm.get('nomeHeroi')?.invalid && heroiForm.get('nomeHeroi')?.touched">
        <span class="error" *ngIf="heroiForm.hasError('required', 'nomeHeroi')">
          O nome de herói é obrigatório.
        </span>

        <span class="error" *ngIf="heroiForm.hasError('minlength', 'nomeHeroi')">
          O nome de herói deve ter pelo menos 2 caracteres.
        </span>

        <span class="error" *ngIf="heroiForm.hasError('maxlength', 'nomeHeroi')">
          O nome de herói deve ter no máximo 120 caracteres.
        </span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Data de Nascimento:</label>
        <input type="text" formControlName="dataNascimento" maxlength="10" placeholder="DD/MM/AAAA" (input)="formatarData($event)" required/>

        <div *ngIf="heroiForm.get('dataNascimento')?.invalid && heroiForm.get('dataNascimento')?.touched">
          <span class="error" *ngIf="heroiForm.hasError('required', 'dataNascimento')">
            A data de nascimento é obrigatória.
          </span>

          <span class="error" *ngIf="heroiForm.hasError('pattern', 'dataNascimento')">
            Formato inválido. Use DD/MM/AAAA.
          </span>
          <span class="error" *ngIf="heroiForm.hasError('dataFutura', 'dataNascimento')">
            A data de nascimento deve ser no passado.
          </span>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
      <label>Altura (m):</label>
      <input type="number" step="0.01" formControlName="altura" required/>

      <div *ngIf="heroiForm.get('altura')?.invalid && heroiForm.get('altura')?.touched">
        <span class="error" *ngIf="heroiForm.hasError('required', 'altura')">
          A altura é obrigatória e deve ser um número válido.
        </span>
        <span class="error" *ngIf="heroiForm.hasError('min', 'altura')">
          A altura deve ser maior que 0.
        </span>
      </div>

      </div>
      <div class="form-group">
      <label>Peso (kg):</label>
      <input type="number" step="0.01" formControlName="peso" required/>

      <div *ngIf="heroiForm.get('peso')?.invalid && heroiForm.get('peso')?.touched">
        <span class="error" *ngIf="heroiForm.hasError('required', 'peso')">
          O peso é obrigatório e deve ser um número válido.
        </span>
        <span class="error" *ngIf="heroiForm.hasError('min', 'peso')">
          O peso deve ser maior que 0.
        </span>
      </div>
    </div>
  </div>

    <div class="form-group">
        <label>Superpoder:</label>
        <div class="checkbox-group" [class.invalid]="heroiForm.get('superpoderId')?.invalid && heroiForm.get('superpoderId')?.touched">
          <div *ngFor="let poder of superpoderes" class="checkbox-item">
            <input type="checkbox"
            [value]="poder.id"
            (change)="onCheckChange($event)"
            [id]="'poder-' + poder.id"
            [checked]="estaMarcado(poder.id)"
            >
            <label [for]="'poder-' + poder.id">{{ poder.superPoder }}</label>
          </div>
        </div>
        <span class="error" *ngIf="heroiForm.get('superpoderId')?.invalid && heroiForm.get('superpoderId')?.touched">
          <i class="bi bi-exclamation-circle"></i> Selecione pelo menos um superpoder.
        </span>
      </div>

    <div class="actions">
      <button type="button" class="btn-cancelar" (click)="voltar()">Voltar</button>
      <button type="submit" [disabled]="heroiForm.invalid" class="btn-salvar">
        Salvar Herói
      </button>
    </div>
  </form>
</div>
